/*
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC|Play|Rubik&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins|Raleway&display=swap"); */

body {
  font-family: "Open Sans";
}

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/header_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.repo-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/repo-bg.jpg");
  background-size: cover;
  border-radius: 1.5rem !important;
}
.dark {
  opacity: 0.8;
}
.transparent {
  background: transparent;
}

/* fonts classes */
@font-face {
  font-family: Anurati;
  src: url(../font/Anurati.otf);
}

.bowlby {
  font-family: "Bowlby One SC", cursive;
}
.poppins {
  font-family: "Poppins";
}
.raleway {
  font-family: "Raleway";
}

.logo {
  font-family: Anurati;
  color: white;
}
.logo:hover {
  color: mediumspringgreen;
}
.logo-xs-sm {
  width: 180px;
  height: 25px;
}

.logo-sm {
  width: 300px;
  height: 30px;
  margin-left: 5px;
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}

.icon {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.icon-small {
  height: 25px;
  width: 25px;
  border-radius: 100%;
}
.bg-black {
  background-color: black;
  color: white;
}

footer p a {
  color: white !important;
}

footer p a:hover {
  color: mediumspringgreen !important;
}

.nav-link {
  color: white !important;
  font-family: "Play", sans-serif;
  font-size: 16px;
}

.nav-link:hover {
  color: mediumspringgreen !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

/* Material icons responsive font sizes */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
/* Material icons responsive font sizes */

/* override bootstrap classes */
.btn-outline-danger {
  color: red;
  border-color: red;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: red;
  border-color: red;
}
.bg-danger {
  background-color: red !important;
}
.text-danger {
  color: red !important;
}
.btn-primary {
  background: linear-gradient(to top, #005bea, #00c6fb);
  color: white !important;
}
.btn-primary:hover {
  background: linear-gradient(to top, #00c6fb, #005bea);
}

.text-primary {
  background: linear-gradient(to top, #005bea, #00c6fb);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-primary:hover {
  background: linear-gradient(to top, #00c6fb, #005bea);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rounded {
  border-radius: 10px !important;
}
/* Gradient buttons */
.btn-hover {
  color: #fff !important;
  cursor: pointer;
  background-size: 300% 100%;
  background-image: linear-gradient(
    to left,
    #005bea,
    #00c6fb,
    #005bea,
    #00c6fb
  );
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

/* override bootstrap classes */

.services-img {
  width: 100%;
  border-radius: 2rem;
  height: 250px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
}

/* ----  header customization ---- */
header {
  position: relative;
  height: 100vh !important;
}

#particles-js {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/header_bg.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#header-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 85%;
  z-index: 1;
}

#header-text {
  position: absolute;
  top: 20%;
  right: 20%;
  left: 20%;
  bottom: 20%;
  padding: 1.5rem 1rem;
}
/* Phone iframe css */

/*Basic Phone styling*/

.phone {
  position: relative;
  height: 600px;
  width: 300px;
  margin: 0 auto;
  border: 5px solid black;
  border-width: 10px 7px;
  border-radius: 40px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.phone-button {
  text-align: center !important;

  border: 2px solid black;
  border-radius: 100%;
  padding: 20px;
  position: absolute;
  left: 45%;
  right: 45%;
  bottom: 5%;
}
.phone-button:hover {
  cursor: pointer;
  border: 4px solid black;
}
.notch {
  position: absolute;
  top: 0;
  right: 25%;
  left: 25%;
  border-radius: 0 0 30px 30px;
  background: black;
  padding: 12px;
  width: 150px;
  height: 5px;
}

/*Different Perspectives*/

.phone.view_1 {
  transform: rotateX(50deg) rotateY(0deg) rotateZ(-50deg);
  box-shadow: -3px 3px 0 #bbb, -6px 6px 0 #bbb, -9px 9px 0 #bbb,
    -12px 12px 0 #bbb, -14px 10px 20px #666;
}

.phone.view_2 {
  transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg);
  box-shadow: 5px 1px 0 #bbb, 9px 2px 0 #bbb, 12px 3px 0 #bbb, 15px 4px 0 #bbb,
    0 7px 20px #999;
}

.phone.view_3 {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  box-shadow: 0px 3px 0 #bbb, 0px 4px 0 #bbb, 0px 5px 0 #bbb, 0px 7px 0 #bbb,
    0px 10px 20px #666;
}
/* phone iframe css */

/*team members card style */
.bg-gradient {
  background-image: linear-gradient(to top, #005bea 0%, #00c6fb 100%);
  color: white !important;
}

.zoom {
  transition: transform 0.2s;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0px 0px 100px rgb(187, 183, 183);
}
.btn:hover {
  cursor: pointer;
}
/* team members card style */

/* pricing section */
/* https://bestjquery.com/tutorial/pricing-table/demo55/ */
.pricingTable {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 50px 15px;
  text-align: center;
  margin-top: 30px;
  color: #292929;
  perspective: 700px;
  z-index: 1;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
}
.pricingTable:hover {
  color: #fff;
}
.pricingTable:after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #005bea 0%, #00c6fb 100%);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transform: rotateY(70deg);
  transition: all 0.3s ease-in-out 0s;
}
.pricingTable:hover:after {
  opacity: 1;
  transform: rotateY(0deg);
}
.pricingTable .icon {
  width: 69px;
  height: 69px;
  line-height: 69px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  font-size: 25px;
  position: absolute;
  top: -34px;
  left: 0;
  right: 0;
}
.pricingTable .pricingTable-header {
  margin-bottom: 30px;
}
.pricingTable .title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.pricingTable .price-value {
  display: inline-block;
  border-bottom: 2px solid #3485ef;
  font-size: 30px;
  font-weight: 700;
  transition: all 0.3s ease-in-out 0s;
}
.pricingTable:hover .price-value {
  border-bottom-color: #fff;
}
.pricingTable .pricing-content {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.pricingTable .pricing-content li {
  font-size: 14px;
  line-height: 40px;
}
.pricingTable .pricingTable-signup {
  display: inline-block;
  padding: 9px 23px;
  background-image: linear-gradient(to top, #005bea 0%, #00c6fb 100%);
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  transition: all 0.25s ease-in-out 0s;
}
.pricingTable:hover .pricingTable-signup {
  background: #fff;
  color: #3485ef;
}
.pricingTable .pricingTable-signup:before,
.pricingTable .pricingTable-signup:after {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  transition: all 0.25s ease-in-out 0s;
}
.pricingTable .pricingTable-signup:before {
  left: -12px;
  border-right: 12px solid #3485ef;
}
.pricingTable .pricingTable-signup:after {
  right: -12px;
  border-left: 12px solid #3485ef;
}
.pricingTable:hover .pricingTable-signup:before {
  border-right-color: #fff;
}
.pricingTable:hover .pricingTable-signup:after {
  border-left-color: #fff;
}
@media only screen and (max-width: 990px) {
  .pricingTable {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .pricingTable {
    margin-bottom: 50px;
  }
}

/* pricing section css */

/* floating carousel section css */

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 990px) {
  #header-text {
    position: absolute;
    top: 20%;
    right: 10%;
    left: 10%;
    bottom: 10%;
    padding: 1.5rem 1rem;
  }

  #navbarNav {
    background: black;
    padding: 1.5rem 1rem;
    margin: 1.5rem 1rem;
  }

  .container-1 {
    height: auto;
    position: static;
  }

  .center-div {
    width: 75%;
    margin: 0 auto;
    padding: 1.5rem 1rem;
  }

  .floating-img {
    height: auto !important;
    width: auto !important;
  }

  .top-div,
  .center-div,
  .bottom-div {
    position: static;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container-1 {
    position: relative;
    height: 100vh;
  }

  .top-div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
  }

  .center-div {
    position: absolute;
    left: 15%;
    top: 35%;
    bottom: 20%;
    z-index: 1;
    width: 25%;
  }

  .bottom-div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }
}

/* roadmap */
.circle {
  color: white;
  text-align: center !important;
  border: 1px solid white;
  border-radius: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  margin: 0 auto;
}
.circle-hover {
  background: linear-gradient(to top, #00c6fb, #005bea);
  border: 0;
}
