@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC|Play|Rubik&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins|Raleway&display=swap");

body {
  font-family: "Open Sans";
}

/*
.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/");
  background-size: cover;
} */

.repo-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/repo-bg.jpg");
  background-size: cover;
  border-radius: 1.5rem !important;
}
.dark {
  opacity: 0.8;
}
.transparent {
  background: transparent;
}

/* fonts classes */
@font-face {
  font-family: Anurati;
  src: url(../font/Anurati.otf);
}

.bowlby {
  font-family: "Bowlby One SC", cursive;
}
.poppins {
  font-family: "Poppins";
}
.raleway {
  font-family: "Raleway";
}

.logo {
  font-family: Anurati;
  color: white;
}
.logo:hover {
  color: mediumspringgreen;
}
.logo-xs-sm {
  width: 180px;
  height: 25px;
}

.logo-sm {
  width: 300px;
  height: 30px;
  margin-left: 5px;
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}

.icon {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.bg-black {
  background-color: black;
  color: white;
}

footer p a {
  color: white !important;
}
footer p a:hover {
  color: mediumspringgreen !important;
}

.nav-link {
  color: white !important;
  font-family: "Play", sans-serif;
  font-size: 16px;
}

.nav-link:hover {
  color: mediumspringgreen !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.card-img-top {
  border-radius: 1.5rem !important;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* overide */
.btn-outline-danger {
  color: red;
  border-color: red;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: red;
  border-color: red;
}
.bg-danger {
  background-color: red !important;
}
.text-danger {
  color: red !important;
}

.services-img {
  width: 100%;
  border-radius: 2rem;
  height: 250px;
}

.rounded {
  border-radius: 10px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
}
/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100vh;
  overflow: hidden !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/header_bg.jpg");

  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

header {
  height: 100vh !important;
  overflow: hidden !important;
}

/* Phone iframe css */

/*Basic Phone styling*/

.phone {
  border: 40px solid #ddd;
  border-width: 55px 7px;
  border-radius: 40px;
  margin: 50px auto;
  overflow: hidden;
  transition: all 0.5s ease;
}

.phone iframe {
  border: 0;
  width: 100%;
  height: 500px;
}
/*Different Perspectives*/

.phone.view_1 {
  transform: rotateX(50deg) rotateY(0deg) rotateZ(-50deg);
  box-shadow: -3px 3px 0 #bbb, -6px 6px 0 #bbb, -9px 9px 0 #bbb,
    -12px 12px 0 #bbb, -14px 10px 20px #666;
}

.phone.view_2 {
  transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg);
  box-shadow: 5px 1px 0 #bbb, 9px 2px 0 #bbb, 12px 3px 0 #bbb, 15px 4px 0 #bbb,
    0 7px 20px #999;
}

.phone.view_3 {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  box-shadow: 0px 3px 0 #bbb, 0px 4px 0 #bbb, 0px 5px 0 #bbb, 0px 7px 0 #bbb,
    0px 10px 20px #666;
}
/*Controls*/

/* phone iframe css */
